.form-box {
	width: 400px;
	height: 400px;
	position: relative;
	margin: 9% auto;
	background: #fff;
	padding: 5px;
	overflow: hidden;
}
body {
	background-color: #2c567a;
}

h2 {
	margin: 35px auto;
}

input[type=text], [type=password] {
	width: 340px;
	padding: 12px 20px;
	margin: 10px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
}
#userError,#passError{
	font-size:15px;
	text-align:center;
	color:red;
}
input[type=submit] {
	width: 340px;
	padding: 12px 20px;
	margin: 10px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
}
p {
	font-family: arial;
}